{{#if products}}
    <h3><strong>Products</strong></h3>
    <h3>-------------</h3>
    {{#each products}}
        <p>Product: {{this.title}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>---------------------</p>
    {{/each}}
{{else}}
    <h3><strong>No found products</strong></h3>
{{/if}}

